# --- CrowdSec LAPI ---
LAPI_BASE=http://crowdsec:8080/v1

# Credentials de la machine créée à l'étape 1
CS_MACHINE_ID=
CS_PASSWORD=CHANGE_ME

LOOKBACK=13h

# --- GitHub ---
GH_TOKEN=CHANGE_ME
GH_OWNER=USERNAME
GH_REPO=REPO_NAME
GH_BRANCH=main

# --- Feed ---
TTL_DAYS=7

# --- MISP ---
MISP_URL=https://misp
MISP_KEY=CHANGE_ME
MISP_VERIFY_SSL=true
